/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/testing/*

# Prevent absolute paths and specific corrupted folders
**/C\:*
**/*kredo-school-43rd-batch*
**/Users/*

# Standard ignores
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
